# Build
build/
cmake-build-*/
out/

# Rust / Cargo / Slint generated
target/
cargo/
_deps/
corrosion/

# IDE
.idea/
.vscode/
.vs/

# Visual Studio / CMake / Ninja
*.obj
*.o
*.pdb
*.ilk
*.lib
*.exp
*.dll
*.exe
*.ninja
.ninja_*
CMakeCache.txt
cmake_install.cmake
compile_commands.json

# OS
.DS_Store
Thumbs.db